* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html ,body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.box {
    box-shadow:  8px 8px  14px white;
    border: 8px solid white;
    border-radius: 50%;
    background-color: black;
    color: white;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px ;
    animation: Animation 5s  ease-in-out 1s infinite , starting 1s ease-in-out ;
}
@keyframes Animation {
    0% {
        transform: rotate(0deg);
        border: 8px solid white;
        font-size: 16px ;
        box-shadow:  6px 6px 12px white;
    }
    25% {
        transform: rotate(90deg);
        border: 12px solid rgb(255, 0, 0);
        font-size: 18px ;
        box-shadow:  8px 8px 14px rgb(255, 0, 0);
    }
    50% {
        transform: rotate(180deg);
        border: 15px solid rgb(0, 0, 255);
        font-size: 20px ;
        box-shadow:  8px 8px 14px rgb(0, 0, 255);
    }
    75% {
        transform: rotate(270deg);
        border: 18px solid rgb(0, 255 , 0);
        font-size: 22px ;
        box-shadow:  8px 8px 14px rgb(0, 255 , 0);
    }
    100% {
        transform: rotate(360deg);
        border: 8px solid white;
        box-shadow:  8px 8px 14px white;
    }
}
@keyframes starting {
    from {
        transform: translateX(-500px);
    }
    to {
        transform: translateX(0px);
    }
}
.p {
    text-align: center;
}
button {
    margin-left: 150px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    transform: scale(1);
    box-shadow: -8px -8px 12px white;
    font-weight: 400;
    animation: end 1s ease-in-out;
    transition: transform 1s ease-in-out, background-color 1s ease-in-out , box-shadow 1s ease-in-out ,font-weight 1s ease-in-out;
}
@keyframes end{
    from {
        transform: translateX(350px);
    }
    to {
        transform: translateX(0);
    }
}
button:hover {
    transform: scale(2);
    background-color: rgb(172, 171, 171);
    box-shadow: 8px 8px 12px cyan;
    font-weight: 600;
}
button a {
    text-decoration: none;
    color: black;
}